#pg1{
    background-image: url("./images/josh-sorenson-LVmyjS0hxYU-unsplash.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    text-align: center;
    padding-top: 17%;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5%;
}
.pg1 h1{
    padding: 2px;
    margin: 5px;
}
.pg1 p{
    padding: 2px;
}
#logo{
    margin-top: 12px;
    margin-bottom: 24px;
    width: 70px;
    height: 70px;
}
#mouse{
    padding-top: 22px;
    margin-top: 10%;
    padding-bottom: 30px;
    animation-iteration-count: infinite;
}
#mouse{
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-55px);
    }
    60% {
        transform: translateY(-45px);
    }
}

.container{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#about{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.services{
    text-align: center;
    background-image: url("./images/caught-in-joy-ptVBlniJi50-unsplash.jpg");
    color: aliceblue;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.services h2{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#services1{
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10%;
    padding-bottom: 10%;
}
.what-we-do {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.what-we-do .headings{
  padding-bottom: 38px;
}
.container{
  align-items: center;
}
#portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 18%;
    margin-right: 16%;
    
}
.col-md-3 img{
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}
.portfolio{
  text-align: center;
}
.portfolio h2{
    text-align: center;
    padding-top: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact{
    background-image: url(./images/omid-armin-0cbLoqUyz28-unsplash.jpg);
    background-position: center center;
    background-size: cover;background-repeat: no-repeat;
    color: aliceblue;
    text-align: center;
}
.title{
    padding: 6px;
}
.contact h2{
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif; 
}
#fillform{
  background: none;
}
.form-control{
  background: none;
}
.form-control::placeholder{
  color: white;
}
#submit{
  border-radius: 10px;
  background-color: aq;background: none;
  padding-top: 20px;
}
#design,#development,#management{
  display: none;
  background-color: white;
  position: absolute;
  top: -20px;
}
#MERGE1{
    width: 30%;
    margin-left: 18%;
    margin-right: 30px;
    
}
#MERGE0{
    width: 30%;
}
#comment{
    margin-left: 20%;
    width: 60%;
}
button{
    margin-left: 20%;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
footer{
    text-align: center;
    padding-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
footer p{
    margin-top: 10px;
}
#product, #development, #design{
    display: none;
    font-family: 'Copse', serif;
    font-size: 16px;
  }
  #product .title, #development .title, #design .title{
    font-size: 20px;
    font-weight: 600;
  }
    .col-md-3 img{
        width:100%px;
        margin: 20px;
      }
      #portfolio{
        margin-left:8%;
        margin-right: 16%; 
      }
      button{
        margin-left: 2%;
        padding-bottom: 30px;
        margin-bottom: 20px;
        /* margin-left: 10px; */
    
        /* margin-right: -20%; */
      }

      .col-md-3 img{
        width:100%px;
        margin: 20px;
      }
      #portfolio{
        margin-left:8%;
        margin-right: 16%; 
      }
      button{
        padding-bottom: 30px;
        margin-bottom: 20px;
      }
      #MERGE0{
        width: 84%;
        margin-left: 4%;
        padding-bottom: 10px;
      }
      #MERGE1{
        width: 100%;
        margin-left: 4%;
        margin-bottom: 20px;
      }
      #comment{
        margin-left: 4%;
        width: 84%;
      }
    
      .col-md-3 img{
        width: 400px;
        margin: 20px;
      }
      #portfolio{
        margin-left:10%;
        margin-right: 10%; 
      }
        .col-md-3 img{
          width: 400px;
          margin: 20px;
        }
        #portfolio{
          margin-left:6%;
          margin-right: 10%; 
        }
    